[submodule "kube-prometheus-custom"]
	path = kube-prometheus-custom
	url = https://github.com/abacf/kube-prometheus-custom.git
[submodule "iut-stmalo-sae503"]
	path = iut-stmalo-sae503
	url = https://github.com/abacf/iut-stmalo-sae503
